<div class='breadcrumb-holder-2'>
   <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="divider-main">
   <h1>Alla blogginlägg</h1>
   <div class="divider-container">
     <% @articles.each do |article| %>
     <div class="divider-card">
       <div class="divider-header">
         <h3><%= link_to "#{article.title}", article_path(article), style: 'text-decoration: none; color: white;' %></h3>
       </div>
       <p><%= truncate(strip_tags(article.rich_text_content.to_s), length: 200) %></p>
       <%= link_to "Läs mer ➝", article_path(article), style: 'text-decoration: none; color: grey;' %>
     </div>
     <% end %>
  </div>
</div>
