<div class='breadcrumb-holder-2'>
   <%= render_breadcrumbs separator: ' > ' %>
</div>
<div class="divider-main">
   <h1>Kontakta oss</h1>
   <p>Vill du kontakta oss skicka ett email till fisken_tosk@hotmail.com</p>
</div>
