<div class='container-main'>
  <div class='header-main'>
    <h1>Welcome to administrations!</h1>
  </div>
  <div class='button-menu'>
    <%= link_to 'Add/edit brands', brands_path %>
  </div>
</div>
