/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --- Generic Styles --- */
 * {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  background-color: #f9f9f9;
}

h1 {
  font-weight: 400;
  color: #15213b;
}

@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 1.2em;
  }
}

h2 {
  font-weight: 400;
  color: #15213b;
}

@media screen and (max-width: 39.9375em) {
  h2 {
    font-size: 1.2em;
  }
}

h3 {
  font-weight: 400;
  color: #15213b;
}

@media screen and (max-width: 39.9375em) {
  h3 {
    font-size: 1.2em;
  }
}

a:visited {
  text-decoration: none !important;
}

/* Breadcrumbs */

  .breadcrumb-holder-2 {
    color: #B1B1B1;
    font-size: 0.9rem;
    font-family: 'Montserrat',Arial,sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @media screen and (max-width: 54.9375em) {
    .breadcrumb-holder-2 {
      margin-top: 0em;
    }
  }

  .breadcrumb-holder-2 a {
    color: #B1B1B1;
    text-decoration: none;
  }

  .breadcrumb-holder-2 a:visited {
    color: #B1B1B1;
    text-decoration: none;
  }

 .breadcrumb-holder {
   color: #B1B1B1;
   font-size: 0.9rem;
   font-family: 'Montserrat',Arial,sans-serif;
   margin-top: -1em;
   margin-bottom: 1em;
 }

 .breadcrumb-holder a {
   color: #B1B1B1;
   text-decoration: none;
 }

 .breadcrumb-holder a:visited {
   color: #B1B1B1;
   text-decoration: none;
 }

/* NOTICE & ALERT */

#notice-wrapper {
  position: absolute;
  top: inherit;
  width: 100%;
  z-index: 999;
  background: rgba(61, 181, 230, 0.85);
}
#notice-wrapper .notice {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #FEFEFE;
  letter-spacing: 1px;
}

@media screen and (max-width: 39.9375em) {
  #notice-wrapper .notice {
    font-size: 1.2rem;
  }
}

#alert-wrapper {
  position: absolute;
  top: inherit;
  width: 100%;
  z-index: 999;
  background: rgba(247, 125, 14, 0.85);
}
#alert-wrapper .alert {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 700;
  color: #FEFEFE;
  letter-spacing: 1px;
}

@media screen and (max-width: 39.9375em) {
  #alert-wrapper .alert {
    font-size: 1.2rem;
  }
}

/* NAVBAR */

.nav {
  padding-left: 5em;
  padding-right: 5em;
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18px;
  color: #1F1F1F;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 0.8em;
  font-weight: 500;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 16px 10px 10px 10px;
  text-decoration: none;
  color: #1F1F1F;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* NAVBAR MEDIASCREEN 50-60em */

@media screen and (min-width: 55em) and (max-width: 63em) {
  .nav {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* NAVBAR MEDIASCREEN 39.9375-50em */
@media screen and (min-width: 39.9375em) and (max-width: 55em) {
  .nav {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  .nav > .nav-header > .nav-title {
    font-size: 20px;
  }

  .nav > .nav-links > a {
    padding: 16px 6px 10px 6px;
  }
}

/* NAVBAR MEDIASCREEN MAX 39.9375 */
@media screen and (max-width: 39.9375em) {
  .nav {
    padding-left: 0em;
    padding-right: 0em;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #15213b;
  }

  .nav > .nav-btn > label > .menu {
    font-size: 0.65em;
    margin-left: auto;
    margin-right: auto;
    color: #15213b;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    font-size: 1.2em;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: white;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* MAIN CONTAINER */

.container-main {
  min-height: 80vh;
  display: block;
  width: 80%;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
}

.container-main .header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em 1em 1em 1em;
}

.container-main .header-main .header-left {
  width: 60%;
}

.container-main .header-main .header-right {
}

.container-main .header-main .header-right .header-img1 {
  height: 15em;
}
.container-main .header-main .header-right .header-img2 {
  height: 15em;
}
.container-main .header-main .header-right .header-img3 {
  height: 15em;

transform: rotate(90deg);
}

/* MAIN CONTAINER MEDIASCREEN MAX 39.9375 */

@media screen and (min-width: 39.9375em) and (max-width: 55em) {
  .container-main {
    padding: 1em 1em 1em 1em;
  }
}

@media screen and (max-width: 39.9375em) {
  .container-main {
    padding: 1em 1em 1em 1em;
    width: 100%;
  }

  .container-main .header-main {
    flex-direction: column-reverse;
  }

  .container-main .header-main .header-left {
    width: 100%;
    text-align: center;
  }

  .container-main .header-main .header-right {
    text-align: center;
  }

  .container-main .header-main .header-right .header-img1 {
    height: 5em;
    padding: 0em 1em 0em 1em;
  }
  .container-main .header-main .header-right .header-img2 {
    height: 5em;
    padding: 0em 1em 0em 1em;
  }
  .container-main .header-main .header-right .header-img3 {
    height: 5em;
    padding: 0em 1em 0em 1em;
  }
}

/* CATEGORY AND BRAND CONTAINER */

.category-brand-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.category-brand-container h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 49.9375em) {
  .category-brand-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 39.9375em) {
  .category-brand-container p {
    font-size: 0.8em;
  }
}

/* PRODUCTS CONTAINER */

.products-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 39.9375em) {
  .products-container {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
  }
}

.products-container .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 250px;
  height: 340px;
}

.products-container .product-card .card-header {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.products-container .product-card .card-content {
  background-color: #fd5f53;
  color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
}

@media screen and (max-width: 39.9375em) {
  .products-container .product-card .card-content {
    width: 230px;
  }
}

.products-container .product-card .card-header .card-product-name {
  color: #15213b;
  font-weight: 500;
  text-decoration: none;
}

.products-container .product-card .card-header .card-product-name a:visited {
  color: #15213b;
  font-weight: 500;
  text-decoration: none;
}

.products-container .product-card .card-image {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.products-container .product-card .card-image img {
  max-width: 245px;
  max-height: 245px;
}

/* PRODUCT VIEWS */

.product-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.product-card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding-right: 1em;
}

.product-card-holder img {
  width: 300;
  background-color: white;
  padding: 1em 5em 1em 5em;
}

.product-card-holder .product-facts h4 {
  letter-spacing: 1.1px;
}

.product-card-holder .product-facts .product-facts-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

@media screen and (max-width: 39.9375em) {
  .product-card-holder .product-facts .product-facts-holder {
    width: 95%;
  }
}

@media screen and (max-width: 39.9375em) {
  .product-holder {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 39.9375em) {
  .product-card-holder {
    padding: 0em 0em 0em 0em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 39.9375em) and (max-width: 72em) {
  .product-card-holder img {
    padding: 1em 1em 1em 1em;
  }
}

@media screen and (max-width: 39.9375em) {
  .product-card-holder img {
    padding: 1em 1em 1em 1em;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-compare-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.compare-header {
  background-color: #fd5f53;
  padding: 1em 10em 1em 10em;
  color: white;
}

@media screen and (max-width: 39.9375em) {
  .compare-header {
    padding: 1em 7em 1em 7em;
  }
}

.compare-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
  border-bottom: 1px solid #C9C9C9;
}

.specs-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.specs-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 30em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

@media screen and (max-width: 39.9375em) {
  .specs-table {
    width: 20em;
  }
}

.specs-table-white {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 30em;
  background-color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #C9C9C9;
}

@media screen and (max-width: 39.9375em) {
  .specs-table-white {
    width: 20em;
  }
}

/* ITEM CONTAINER */

.item-container {

}

.item-container .item-box {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* FOOTER */

.footer {
  display: block;
  background-color: #15213b;
  color: white;
}

.footer-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-container {
  padding: 2em 2em 2em 2em;
  text-align: center;
}

/* FOOTER MEDIASCREEN MAX 39.9375 */

@media screen and (max-width: 39.9375em) {
  .footer-grid {
    flex-direction: column;
  }

  .footer-grid .footer-container {
    padding: 1em 1em 1em 1em;
  }
}

/* BUTTONS */

.button-menu {
  margin: 1em 1em 1em 1em;
}

.add-button {
   background: #3db5e6;
   color: #fff;
   display: inline-block;
   text-align: center;
   line-height: 1;
   font-size: 0.8rem;
   font-family: 'Montserrat',Arial,sans-serif;
   font-weight: 700;
   letter-spacing: 0.5px;
   padding: 0.4rem 0.6rem 0.4rem;
   border-radius: 4px;
   border: none;
   text-decoration: none;
 }

 .reply-button {
  background: #f77d0e;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-size: 0.8rem;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.4rem 0.6rem 0.4rem;
  border-radius: 4px;
  border: none;
  text-decoration: none;
}

 .cancel-button {
  border: 1px solid #ddd;
  color: #525252;
  background-color: #fefefe;
  text-align: center;
  line-height: 1;
  font-size: 0.8rem;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.4rem 0.6rem 0.4rem;
  border-radius: 4px;
  text-decoration: none;
}

/* standard form */

.standard-form {
  margin-left: 20px;
  margin-right: 20px;
}

.standard-form-comment {
  margin-left: 5px;
  margin-right: 5px;
}

.hidden-label {
  color: #cacaca;
  font-size: 16px;
}

.form-text {
  color: #0a0a0a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.form-text-grey {
  color: #6D6D6D;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
}
