<h1>Här nedan hittar du alla <%= @brand.name %> produkter</h1>
<p>hello <%= @brand.name %></p>
<%= image_tag(@brand.avatar, width: 200) if @brand.avatar.attached? %>
<div class='products-container'>
  <%= render 'products/products' %>
</div>
