<h1>Här nedan hittar du alla <%= @category.try(:name) %></h1>
<p>hello <%= @category.try(:name) %></p>
<%= image_tag(@category.avatar, width: 200) if @category.avatar.attached? %>
<div class='products-container'>
  <%= render 'products/products' %>
</div>
