<div class='container-main'>
  <h1>Här nedan hittar du alla <%= @category.try(:name) %></h1>
  <p>hello <%= @category.try(:name) %></p>
  <% @products.each do |product| %>
    <%= link_to "#{product.name}", product_path(product) %><br>
  <% end %>
</div>
