<% @products.each do |product| %>
  <% cache product do %>
    <div id='product-<%= product.id %>'>
      <div class='product-card'>
        <div class='card-header'>
          <%= link_to "#{product.name}", product_path(product) %><br>
        </div>
        <div class='card-image'>
          <%= image_tag(product.avatar, width: 200) if product.avatar.attached? %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
